.About {
  justify-content: center;
}
.main {
  background-color: #221d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.aboutIntro {
  align-content: left;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 1%;
  font-family: "Courgette", cursive;
}
.aboutText {
  font-size: 38px;
}
#myCarousel.carouselslide {
  padding: 5%;
  padding-top: 7.5%;
}
.w-100 {
  width: 590px !important;
  height: 385px;
  margin: auto;
}
.description {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 20px;
}

.Kuropic {
  height: 57px;
  padding-bottom: 1%;
}
