@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Shadows+Into+Light&display=swap");
.MainNav {
  background-color: pink;
  justify-items: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.Name {
  font-family: "Dancing Script", cursive;
  font: bold;
  font-size: 48px;
  width: 100%;
  text-align: center;
  padding: 0%;
}
.NavLinks {
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 24px;
  font: bold;
}
