@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.ProjectsPage {
  background-color: #221d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
}
.pagetext {
  font-family: "Courgette", cursive;
  font-size: 40px;
  margin-top: 16px;
  margin-left: 16px;
  color: white;
}
.Kuro {
  height: 75px;
  padding: 6px;
}
.card-img-top {
  width: 100% !important;
  height: 240px;
}

.single {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
}
