@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.ResumePage {
  background-color: #221d24;
  min-height: 100vh;
  flex-direction: column;
  align-items: left;
  color: white;
}

.picture {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.intro {
  align-content: left;
  padding-left: 10%;
  padding-top: 5%;
  font-family: "Courgette", cursive;
}
.Text {
  font-size: 38px;
}
.cuberomi {
  height: 70px;
  padding-bottom: 2%;
}
