.App {
  text-align: center;
  justify-content: center;
}

.Main-photo {
  height: 80vmin;
}

.App-header {
  background-color: #221d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p {
  font-size: 15px;
}
.Intro {
  align-content: center;
  justify-content: center;
  padding-top: 20%;
}
.body {
  align-content: center;
}
